asgiref
astroid
colorama
Django
djangorestframework
emoji
ImageHash
isort
lazy-object-proxy
mccabe
numpy
Pillow
pylint
pytz
PyWavelets
scipy
six
sqlparse
toml
wrapt
pymysql
mysqlclient
cryptography>=3.2
